@model TireRecords.Models.ReceiptDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="content">
    <div class="container-fluid" id="details">
        @if (Model.Receipt.Status == 1)
        {
            <div class="details-header">
                <div>
                    <h1 class="page-heading">Detalji priznanice <small>(@Model.Receipt.RNumber)</small></h1>
                </div>
                <div>
                    <button data-toggle="modal" data-target="#closeReceiptModal" class="btn btn-general btn-red">Zatvori priznanicu</button>
                </div>
            </div>}
        @if (Model.Receipt.Status == 2)
        {
            <div class="details-header">
                <div>
                    <h1 class="page-heading" style="margin-bottom: 0px;">Detalji priznanice <small>(@Model.Receipt.RNumber)</small></h1>

                    <div class="closed-receipt-card">
                        <p class="closed-receipt-text">Priznanica je zatvorena, gume su vracene klijentu.</p>
                        <p class="closed-receipt-info">Zatvorio @Model.Receipt.ClosedBy &bull; @Model.Receipt.ClosedAt.ToString("dd.MM.yyyy")</p>
                        <div class="_pull-right">
                            <a href="/Receipt/ExportPdf/@Model.Receipt.Id?type=2" target="_blank" class="btn btn-general btn-red mt-10"><i class="fa fa-print"></i>&nbsp;&nbsp;Povratnica</a>
                        </div>
                    </div>
                </div>

            </div>

        }

        <div class="modal fade" id="closeReceiptModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Zatvori priznanicu</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        Da li ste sigurni?
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a href="/Receipt/CloseReceipt/@Model.Receipt.Id" class="btn btn-general btn-red">Zatvori priznanicu</a>
                        <button type="button" class="btn btn-general btn-default btn-close" data-dismiss="modal">Otkaži</button>
                    </div>

                </div>
            </div>
        </div>


        <form>
            <div class="form-section form-section-client">
                <h4 class="form-heading"><i class="fa fa-user"></i>&nbsp;&nbsp;Klijent</h4>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Client.FirstName" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Client.LastName" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Client.MobilePhone" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Client.Email" disabled />
                    </div>
                </div>
            </div>
            <div class="form-section form-section-vehicle">
                <h4 class="form-heading"><i class="fa fa-car"></i>&nbsp;&nbsp;Vozilo</h4>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Vehicle.TypeText" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Vehicle.Brand" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Vehicle.RegistrationNumber" disabled />
                    </div>
                </div>
            </div>
            <div class="form-section form-section-tires">

                <h4 class="form-heading"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Gume</h4>

                @foreach (var tire in Model.Tires)
                {
                    <div class="row">
                        <div class="col-md-1">
                            <input type="text" class="form-control" disabled value="@tire.PositionText" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Brand" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Model" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Dimension" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Index" disabled />
                        </div>
                        <div class="col-md-1">
                            <input type="text" class="form-control form-disabled" value="@tire.DOT" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Depth" disabled />
                        </div>
                    </div>
                    <br />
                }

                <textarea class="form-control form-disabled" disabled>@Model.Receipt.Message</textarea>

            </div>

            <div class="pull-right">
                <a href="/Receipt/ExportPdf/@Model.Receipt.Id?type=1" target="_blank" class="btn btn-general btn-red mt-10"><i class="fa fa-print"></i>&nbsp;&nbsp;Priznanica</a>
            </div>
        </form>

    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
