@model TireRecords.Models.ReceiptDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="content">
    <div class="container-fluid" id="details">
        <h1 class="page-heading">Detalji priznanice <small>(@Model.Receipt.RNumber)</small></h1>

        <form>
            <div class="form-section form-section-client">
                <h4 class="form-heading"><i class="fa fa-user"></i>&nbsp;&nbsp;Klijent</h4>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Client.FirstName" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Client.LastName" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Client.MobilePhone" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Client.Email" disabled />
                    </div>
                </div>
            </div>
            <div class="form-section form-section-vehicle">
                <h4 class="form-heading"><i class="fa fa-car"></i>&nbsp;&nbsp;Vozilo</h4>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Vehicle.TypeText" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Vehicle.Brand" disabled />
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control form-disabled" value="@Model.Vehicle.RegistrationNumber" disabled />
                    </div>
                </div>
            </div>
            <div class="form-section form-section-tires">

                <h4 class="form-heading"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Gume</h4>

                @foreach (var tire in Model.Tires)
                {
                    <div class="row">
                        <div class="col-md-1">
                            <input type="text" class="form-control" disabled value="@tire.PositionText" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Brand" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Model" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Dimension" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Index" disabled />
                        </div>
                        <div class="col-md-1">
                            <input type="text" class="form-control form-disabled" value="@tire.DOT" disabled />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control form-disabled" value="@tire.Depth" disabled />
                        </div>
                    </div>
                    <br />
                }

                <textarea class="form-control form-disabled" disabled>@Model.Receipt.Message</textarea>

            </div>

            <div class="pull-right">
                <a href="/Receipt/ExportPdf/@Model.Receipt.Id" target="_blank" class="btn btn-general btn-red mt-10"><i class="fa fa-print"></i>&nbsp;&nbsp;Štampaj</a>
            </div>
        </form>

    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
