<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="icon" href="~/Content/images/vulco-logo.png" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        <aside>
            <header>
                STOŠIĆ
            </header>
            <div>
                <h3 class="nav-heading">Glavni meni</h3>
                <ul class="nav-menu">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i>Početna</a></li>
                    <li data-toggle="collapse" data-target="#nav-level" >
                        <a style="cursor: pointer;"><i class="fa fa-paste"></i>Priznanice <i class="fa fa-angle-down pull-right" style="margin-top: 4px;"></i></a>

                        <ul id="nav-level" class="collapse nav-dropdown-lvl">
                            <li><a href="/Receipt/Index?vehicleType=1"><i class="fa fa-car"></i>Putnička vozila</a></li>
                            <li><a href="/Receipt/Index?vehicleType=2"><i class="fa fa-truck"></i>Teretna vozila</a></li>
                        </ul>
                    </li>

                    <li><a href="/Home/Index"><i class="fa fa-car"></i>Vozila</a></li>
                    <li><a href="/Home/Index"><i class="fa fa-user"></i>Klijenti</a></li>
                </ul>
            </div>
        </aside>
        <div class="toolbar">
            <i class="fa fa-bars nav-toggler"></i>
            @Html.Partial("_LoginPartial")
        </div>

    }
    <div class="content-wrapper">
        @RenderBody()
    </div>

    @*<footer>
            <div class="container">
                <hr />
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
        </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('.nav-toggler').click(function () {
                $('aside').toggleClass('js-aside-toggled');
                $('.toolbar').toggleClass('js-toolbar-right');
                $('.content').toggleClass('js-content');
            })
        })
    </script>
</body>
</html>
